.home-container {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.mySwiper {
    width: 100%;
    height: 700px;
}

.categorys {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    gap: 3rem;
    margin-bottom: 3rem;
}

.categorys a{
    color: rgb(83, 83, 83);
    font-size: 1.2rem;
}

.categorys a:hover{
    color: black;
}


.categorys a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    margin-top: 3px;
    background: #000;
    transition: width .3s;
}

.categorys a:hover::after {
    width: 100%;
}

.products-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 0 3rem;
}

@media screen and (max-width: 768px) {
    .categorys, .products-wrapper {
        padding: 0 1rem;
    }
}

@media screen and (max-width:425px) {
    .mySwiper {
        height: 600px!important;
    }
    .categorys{
        gap: 2rem;
    }
}