.favs-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 80px - 260px - 3rem);
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    padding: 0 3rem;
    margin-top: 80px !important;
    overflow: hidden;
    text-align: center;
}

.favs-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-top: 3rem;
}

@media screen and (max-width:425px) {
    .favs-container{
        padding: 0 1rem;
    }
}